<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { millisecondsToTimecode } from "$lib/timeHelpers";
  import Icons from "$lib/icons.svelte";
  import { cc, libras } from "$store/store";
  import { fade } from "svelte/transition";

  const emit = createEventDispatcher();

  export let paused: boolean;
  export let currentTime = 0;
  export let duration = 0;

  $: currentTime, timeUpdate();

  let progressBar: HTMLDivElement;

  let timeToEnd = false;
  let dragging = false;
  let barSize = 0;
  let lastShow = 0;

  const timeUpdate = () => {
    if (duration === 0) return;
    if (!dragging) barSize = getLimits(currentTime / duration);
  };

  const startBar = (event: PointerEvent) => {
    dragging = true;
    moveBar(event);
  };

  const moveBar = (event: PointerEvent) => {
    lastShow = barSize * duration;
    if (!dragging) return;
    barSize = getLimits(getProgress(event.clientX));
  };

  const releaseBar = () => {
    if (!dragging) return;
    emit("seekTo", barSize);
    dragging = false;
  };

  const getLimits = (value: number) => (value < 0 ? 0 : value > 1 ? 1 : value);
  const getProgress = (xPos: number) =>
    (xPos - progressBar.getBoundingClientRect().left) / progressBar.clientWidth;

  const toggleCaptions = () => {
    cc.set(!$cc);
  };
  const toggleLibras = () => {
    libras.set(!$libras);
  };

  $: timecode = timeToEnd
    ? `-${millisecondsToTimecode(duration - barSize * duration)}`
    : millisecondsToTimecode(barSize * duration);
</script>

<svelte:window on:pointermove={moveBar} on:pointerup={releaseBar} />

<div class="absolute w-full h-8 bottom-3 flex px-3 z-[1000] text-base">
  {#if (duration !== 0 && currentTime < lastShow + 2) || paused}
    <div
      transition:fade
      class="relative w-full flex items-center px-2 py-1 rounded-lg bg-theme-highlight"
      class:opacity-0={duration === 0}
    >
      <button class="w-6 mr-2" on:click={() => emit("togglePause")}>
        {#if paused}
          <Icons type="play" filled />
        {:else}
          <Icons type="pause" filled />
        {/if}
      </button>
      <div
        bind:this={progressBar}
        on:pointerdown={startBar}
        class="flex-grow mx-2 relative flex items-center h-1 bg-current bg-opacity-20 rounded-full cursor-pointer"
      >
        <div
          class="relative h-1 bg-current rounded-full shadow-inner flex items-center"
          style="width: {barSize * 100}%"
        >
          <div class="bullet" />
        </div>
      </div>
      <button class="mx-2 pr-1 w-14" on:click={() => (timeToEnd = !timeToEnd)}>
        {timecode}
      </button>
      <button
        class="w-6 mr-2 transition-opacity"
        class:opacity-50={!$cc}
        on:click={toggleCaptions}
      >
        <Icons type="caption" filled noStroke />
      </button>
      <button
        class="w-6 transition-opacity"
        class:opacity-50={!$libras}
        on:click={toggleLibras}
      >
        <Icons type="libras" filled noStroke />
      </button>
    </div>
  {/if}
</div>

<style lang="postcss">
  .bullet {
    @apply absolute right-0 w-3 h-3 rounded-full bg-current shadow;
  }

  .label {
    @apply absolute -top-2 px-2 max-h-0 bg-current pointer-events-none
          transition-all ease-in-out duration-500 overflow-hidden
          transform -translate-x-1/2 -translate-y-full whitespace-nowrap;
  }
  .marker:hover .label {
    @apply max-h-9;
  }
</style>
