<script>
    import { base } from "$app/paths";
    import { page } from "$app/stores";
    import Icons from "./icons.svelte";

    const currentPage = $page.url.hash
</script>
<a
  href="{base}/about"
  class="absolute z-10 top-4 right-4 w-8 p-2 rounded-lg shadow-md bg-theme-highlight hover:bg-theme-bg z-20"
>
  <Icons type="close" />
</a>
<div class="text-theme-bg w-full flex justify-center">
  <div class="w-full max-w-2xl">
    {#if currentPage === '#bibliografia'}
      <h1>Bibliografia sobre a questão urbana e arquitetônica na cidade de Sorocaba.</h1>
      <h2>Pesquisa por Gustavo de Campos.</h2>
      <ul>
        <li>ARAÚJO NETO, Adalberto C. Sorocaba Operária: ensaios sobre o início do Movimento Operário em Sorocaba. Crearte: Sorocaba, 2005.</li>
        <li>BUGANZA, Cintia. Estudo da Situação Pre-Metropolitana de Sorocaba: características e perspectivas. Dissertação de Mestrado. FAUUSP: São Paulo, 2010. Acesso disponível em:  https://teses.usp.br/teses/disponiveis/16/16139/tde-31052010-153812/pt-br.php</li>
        <li>CAMPOS, Gustavo S. P. Espaço Intra-Urbano na Cidade de Sorocaba. Trabalho Final de Graduação. FAUUSP: São Paulo, 2015. Acesso disponível em: https://issuu.com/gustavodecampos/docs/trabalho_final_de_gradua____o_-_gus/1</li>
        <li>CELLI, Andressa. Evolução Urbana de Sorocaba. Dissertação de Mestrado. FAUUSP: São Paulo, 2012. Acesso disponível em: https://teses.usp.br/teses/disponiveis/16/16139/tde-27072012-141358/pt-br.php</li>
        <li>MASSARI, Marco Antônio L. Arquitetura Industrial Sorocaba: o caso das fábricas têxteis. Dissertação de Mestrado. FAUUSP: São Paulo, 2011. Acesso disponível em: https://teses.usp.br/teses/disponiveis/16/16133/tde-13012012-113516/pt-br.php</li>
        <li>MASSARI, Marco Antônio L. Solo Criado e Outorga Onerosa do Direito de Construir: gênese e transformação do instrumento na cidade e Sorocaba/SP. Tese de Doutorado. FAUUSP: São Paulo, 2020. Acesso disponível em: https://www.teses.usp.br/teses/disponiveis/16/16139/tde-29032021-005641/pt-br.php</li>
        <li>MESTRE, João L. B. A Arquitetura Moderna em Sorocaba: décadas de 50, 60 e 70. Dissertação de Mestrado. FAUUSP: São Paulo, 2014. Acesso disponível em: https://teses.usp.br/teses/disponiveis/16/16133/tde-12092014-152443/pt-br.php</li>
        <li>NEGRO, Paulo S. B. O Mosteiro de São Bento de Sorocaba e a Arquitetura Beneditina do Litoral Brasileiro e do Planalto Paulista nos Séculos XVII, XVIII e XIX. Dissertação de Mestrado. Unicamp: Campinas, 2000. Acesso disponível em: http://repositorio.unicamp.br/Acervo/Detalhe/184346</li>
        <li>PRESTES, Lucinda F. A Vila Tropeira de Nossa Senhora da Ponte de Sorocaba. Dissertação de Mestrado. FAUUSP: São Paulo, 1997.</li>
        <li>PRESTES, Lucinda F. Sorocaba, Tempo e Espaço: séculos XVIII-XX. Tese de Doutorado. FAUUSP: São Paulo, 2002.</li>
      </ul>
    {:else if currentPage === '#convite'}
      <h1>Terras(s) Rasgada(s): um convite à aprendizagem criativa libertadora</h1>
      <h2>Fernando Freitas de Almeida</h2>
      <p>O convite para serpentear esta obra de descoberta do urbano sorocabano nos remete pensar a cidade como a projeção da sociedade no terreno, tal como bem definiu Lefebvre, pois são estas camadas de coisas postas e interligadas que devem chamar atenção das pessoas educandas e educadoras; sabendo não haver forma certa ou errada de fazer educação, mas sim formas que escondem ou revelam esse urbano, essa cidade.</p>
      <p>Temas como direito à cidade nos conduzem a pensar no direito de pensar a cidade, de olhar a partir das diversas visões e as inúmeras possibilidades, de perceber os caminhos, os conteúdos e as formas, pensar nos anúncios de uma cidade enquanto espaço de todos e denunciar sempre que possível toda a forma de castração da criatividade, tal como propôs Paulo Freire em seu primeiro livro após exílio e redemocratização.</p>
      <p>A terra rasgada, tal como bem define a etimologia - origem da palavra -  de Sorocaba, nos possibilita pensar quais são as outras feridas abertas na cidade, além do rio, quais são as possíveis fraturas, quais aquelas que devemos deixar expostas, e quais aquelas que podemos remendar, curar, pensar.</p>
      <p>O cinema proposto no filme interativo 'Terra(s) Rasgada(s), nos serve como um barco, que nos leva, ora para uma maré mais calma, tranquila, do centro em um domingo, depois do fechamento das lojas, do rio Sorocaba em um dia ensolarado, ora para uma cidade funcionando a todo vapor, uma segunda-feira próxima ao dia de pagamento, o rio durante a tempestade, também como história, como memória, como representação.</p>
      <p><b>Que cada educanda ou educadora possa revelar para si através desta obra, o que faz sentido em sua trajetória, que relacione aos conteúdos, disciplinas, ementas da melhor forma que cada um descobrir ser fundamental para si, que a criatividade seja a grande guia nesta descoberta.</b></p>
      <p>Dentro da minha experiência penso que uma das possibilidades é interligar este espaço da memória e da história com a práxis do estudo do meio, para que as educandas se reconheçam na cidade, mas que também façam parte da escrita e sejam responsáveis também por identificar outras possibilidades nas diversas terra(s) rasgada(s).</p>
      <p>Por fim, que temas fundamentais a nossa sociedade presente no filme, como gênero, raça, povos originários, direito à cidade, colonização, educação, povos escravizados, sistema prisional, nos permitam aproximar a realidade da pessoa educanda aos temas que quase sempre são revelados como estáticos e distantes presente nos materiais didáticos; que as educandas descubram também outras possibilidades de pensar estas terra(s) rasgada(s).</p>
    {/if}
  </div>
</div>

<style lang="postcss">
  h1 {
    @apply text-xl font-bold mt-6;
  }
  h2 {
    @apply italic mb-6;
  }
  p, li {
    @apply mb-4;
  }
  ul {
    @apply list-decimal ml-8;
  }
</style>