<script>
    import { page } from "$app/stores";
    import PageTransition from "$lib/pageTransition.svelte";
    import VideoPlayer from "$lib/videoPlayer.svelte";
    import ExtraText from "./extraText.svelte";

    $: component = /#\d/.test($page.url.hash) ? VideoPlayer : ExtraText
</script>

{#if $page.url.hash !== ""}
  {#key $page.url.hash}
  <PageTransition>
    <div
      class="absolute w-full h-full bg-black bg-opacity-80 z-30">
      <svelte:component
        this={component}/>
    </div>
  </PageTransition>
  {/key}
{/if}
