<script lang="ts">
  export let filled = false
  export let noStroke = false
  export let weight = 2
  export let type: string
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="100%"
  height="100%"
  viewBox="0 0 24 24"
  fill="{filled ? 'currentColor' : 'none'}"
  stroke="{noStroke ? 'none' : 'currentColor'}"
  stroke-width="{weight}"
  stroke-linecap="round"
  stroke-linejoin="round"
  >
  {#if type === 'caption'}
    <path d="M12.1,15.2c-2.3,0-4.6,0-7,0C4.4,15.2,4,15.5,4,16c0,0.5,0.3,0.8,1.1,0.8c1.4,0,2.7,0,4.1,0c3.1,0,6.2,0,9.3,0
      c0.2,0,0.3,0,0.5,0c0.5,0,0.9-0.2,0.9-0.8c0-0.5-0.3-0.8-0.9-0.8C16.7,15.2,14.4,15.2,12.1,15.2z M11.9,12.8c1.3,0,2.6,0,3.8,0
      c0.7,0,1-0.3,1-0.8c0-0.5-0.3-0.8-1-0.8c-2.5,0-5,0-7.5,0c-0.7,0-1,0.3-1,0.8c0,0.5,0.3,0.8,1,0.8C9.5,12.8,10.7,12.8,11.9,12.8z
      M20.4,20.8H3.6c-2,0-3.6-1.6-3.6-3.6L0,6.8c0-2,1.6-3.6,3.6-3.6h16.8c2,0,3.6,1.6,3.6,3.6v10.4C24,19.2,22.4,20.8,20.4,20.8z"/>
  {:else if type === 'close'}
    <line x1="18" y1="6" x2="6" y2="18"></line>
    <line x1="6" y1="6" x2="18" y2="18"></line>
  {:else if type === 'libras'}
    <path d="M19.3,15.1C19,15.6,18.9,16.3,19,18c0,1.7,0,2.9-0.1,3.3c0,0.3-0.3,0.4-0.5,0.4s-0.4-0.1-0.5-0.5c-0.1-0.6-0.4-3.4-0.4-3.8
      c0-0.3-0.3-0.5-0.4-0.5s-0.3,0.1-0.4,0.6c-0.3,1.2-0.6,4.2-0.8,5c-0.1,0.6-0.4,0.6-0.5,0.6c0,0-0.6,0-0.6-0.5
      c0-0.6,0.5-4.6,0.5-4.9s0-0.4-0.1-0.4s-0.2,0-0.3,0.2c-0.4,0.5-2,3.6-2.6,4.7c-0.2,0.3-0.5,0.7-0.9,0.4C11,22.5,10.9,22,11,21.7
      c0.1-0.3,1.9-4.4,2.2-4.8c0.2-0.4,0.1-0.6-0.1-0.6c-0.1,0-0.3,0.1-0.5,0.3c-0.6,0.6-2.4,2.6-3.4,3.4c-0.2,0.1-0.7,0-0.9-0.2
      c-0.2-0.3-0.3-0.6-0.1-0.9c0.3-0.3,3.4-4.3,3.9-5.4c0.5-0.9,1.3-2.5-0.3-2.5h-0.3c-0.6,0-1,0.1-1.5,0.1c-0.6,0-0.9-0.1-1-0.1
      c-0.3-0.1-0.8-0.4-0.6-0.8c0.1-0.2,1,0,1.3-0.2L10,9.9c0,0,1.5-0.4,2.4-0.9s4-2.5,5.3-1.5c0.3,0.2,0.7,1.3,2.6,2
      c0,0,0.8,0.9,0.4,2.4C20.7,12,19.5,14.7,19.3,15.1z"/>
    <path d="M4.3,11c-0.1-0.5-2.8-4.8-3-5.2C1.2,5.6,1.5,5.2,2,5.2c0.1,0,2.6,2.8,2.8,3.1c0.1,0.1,0.3,0.4,0.5,0.3
      c0.3-0.1,0.2-0.4,0.1-0.8C5.1,6.7,3.7,4,3.5,3.6c-0.4-0.9,0.7-1,0.8-0.7C4.6,3.4,6.4,7,6.7,7.4c0.1,0.1,0.2,0.3,0.4,0.2
      c0.1-0.1,0.1-0.1,0.1-0.4c0-0.6-0.2-4.3-0.4-5.5C6.7,1.3,7,1,7.4,1C7.6,1,7.9,1.3,8,1.6c0.1,0.3,0.8,4.8,0.9,5.5
      c0,0.3,0.3,0.5,0.4,0.5c0.1,0,0.3-0.1,0.4-0.5c0.1-0.9,0.8-4.5,0.9-4.8c0.1-0.5,0.5-0.5,0.8-0.5s0.5,0.3,0.5,0.6s-0.4,4.8-0.3,6.3
      C11,9,10.3,9.2,9.7,9.2C6,9.2,8,11.6,8.9,11.8c0.8,0.2,2.8-0.2,2.8,0.6c0,0-1.2,2.5-2.9,4.1c0,0-2.3,1.6-3.5-1.6
      C5,14,4.3,11.5,4.3,11z"/>
    <path d="M21,8.7c0.6,0.4,1.3,1.5,0.8,2.8c-0.2,0.5-0.5,0.2-0.4-0.2c0.3-1-0.2-1.9-0.7-2.3C20.4,8.8,20.7,8.5,21,8.7z"/>
    <path d="M21.8,7.7c0.8,0.6,1.8,2.1,1.1,3.9c-0.3,0.7-0.6,0.3-0.4-0.2c0.5-1.4-0.2-2.7-1-3.2C21.1,7.9,21.3,7.4,21.8,7.7z"/>
    <path d="M5.4,18.3c-0.7-0.2-1.7-0.9-1.7-2.3c0-0.5,0.4-0.4,0.4,0c0,1.1,0.8,1.7,1.5,1.9C5.9,18,5.7,18.4,5.4,18.3z"/>
    <path d="M5,19.5c-1-0.2-2.4-1.3-2.4-3.2c0-0.8,0.5-0.5,0.5,0.1c0,1.5,1.2,2.5,2.1,2.7C5.6,19.1,5.5,19.6,5,19.5z"/>
  {:else if type === 'pause'}
    <rect x="6" y="4" width="4" height="16"></rect>
    <rect x="14" y="4" width="4" height="16"></rect>
  {:else if type === 'play'}
    <polygon points="5 3 19 12 5 21 5 3"></polygon>
  {:else if type === 'zoom-in'}
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    <line x1="11" y1="8" x2="11" y2="14"></line>
    <line x1="8" y1="11" x2="14" y2="11"></line>
  {:else if type === 'zoom-out'}
    <circle cx="11" cy="11" r="8"></circle>
    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    <line x1="8" y1="11" x2="14" y2="11"></line>
  {/if}
</svg>