<script lang="ts">
  import { onMount } from "svelte";
  import data from "$data/data.json";
  import { base } from "$app/paths";
  import MapIcon from "$lib/mapIcon.svelte";
  import { fade } from "svelte/transition";

  let overflowWrapper: HTMLDivElement;
  let aspectWrapper: HTMLDivElement;

  export let century: string;
  export let zoom: number;

  let centerX = false;
  let centerY = false;
  let size = 1;
  let fontSize = 1;
  let scaling = 0;
  let startingScale = 1;

  $: zoom, changeSize();
  $: size, setFont();

  onMount(() => {
    setMap();
  });

  function changeSize() {
    size = zoom;
    centerMap();
  }

  function setMap() {
    centerMap();
    positionMap();
    setFont();
  }

  function positionMap() {
    if (!overflowWrapper || !aspectWrapper) return;
    overflowWrapper.scrollLeft =
      (aspectWrapper.clientWidth - overflowWrapper.clientWidth) / 2;
    overflowWrapper.scrollTop =
      (aspectWrapper.clientHeight - overflowWrapper.clientHeight) / 2;
  }

  function centerMap() {
    if (!aspectWrapper || !overflowWrapper) return;
    centerX = aspectWrapper.clientWidth < overflowWrapper.clientWidth;
    centerY = aspectWrapper.clientHeight < overflowWrapper.clientHeight;
  }

  function setFont() {
    if (!aspectWrapper) return;
    fontSize = aspectWrapper.clientWidth / 1250;
  }

  function pinchStart(e: TouchEvent) {
    if (e.touches.length === 2) {
      scaling = getDist(e);
      startingScale = size;
    }
  }

  function pinchMove(e: TouchEvent) {
    if (scaling > 0) {
      let newSize = startingScale + (getDist(e) - scaling) / 1000;
      size = newSize < 0.25 ? 0.25 : newSize > 1.75 ? 1.75 : newSize;
    }
  }

  function pinchEnd() {
    scaling = 0;
  }

  function getDist(e: TouchEvent) {
    return Math.hypot(
      e.touches[0].pageX - e.touches[1].pageX,
      e.touches[0].pageY - e.touches[1].pageY
    );
  }
</script>

<svelte:window on:resize={setMap} />

<div
  on:touchstart={pinchStart}
  on:touchmove={pinchMove}
  on:touchend={pinchEnd}
  bind:this={overflowWrapper}
  class="relative w-full h-full overflow-auto"
>
  <div
    bind:this={aspectWrapper}
    class="aspectWrapper"
    on:transitionend={centerMap}
    class:centerX
    class:centerY
    style="height: {size * 100}%; font-size: {fontSize}rem;"
  >
    {#key century}
      <div
        in:fade={{ duration: 1000 }}
        out:fade={{ duration: 1000, delay: 300 }}
        class="absolute w-full h-full"
      >
        <div class="relative w-full h-full">
          <img
            class="w-full h-full pointer-events-none z-0"
            src="{base}/img/map/{century}.svg"
            alt="Mapa de sorocaba no século {century}"
          />
          {#each data[century] as icon, key}
            <MapIcon {icon} {key} />
          {/each}
          <img
            class="absolute h-full pointer-events-none top-0 right-[6.5%] z-0"
            src="{base}/img/map/{century !== 'XX' ? 'rio1' : 'rio2'}.png"
            alt="Rio Sorocaba"
          />
        </div>
      </div>
    {/key}
  </div>
</div>

<style lang="postcss">
  .overflow-auto {
    scrollbar-color: currentColor transparent;
    scrollbar-width: thin;
  }

  .aspectWrapper {
    @apply absolute transform aspect-[3/2];
  }

  .centerX {
    @apply left-1/2 -translate-x-1/2;
  }

  .centerY {
    @apply top-1/2 -translate-y-1/2;
  }
</style>
