<script lang="ts">
    import { base } from "$app/paths";
    import MapVideo from "$lib/mapVideo.svelte";
    import MapText from "$lib/mapText.svelte";
    import MapNone from "$lib/mapNone.svelte";

    const component = {
      video: MapVideo,
      text: MapText,
      none: MapNone
    }

    export let icon: Icon
    export let key: number
</script>

{#if icon.type === 'display'}
  <div
    class="caption bg-theme-highlight text-center z-10"
    style="left: {icon.left}%; top: {icon.top}%; width: {icon.width}%;">
    {icon.title}
  </div>
{:else}
  <svelte:component
    {key}
    this={component[icon.type]}
    position={{x: icon.x, y: icon.y, size: icon.size}}>
    <figure class="relative">
      <img
        class="relative z-10"
        src="{base}/img/icon/{icon.img}.svg"
        alt={icon.alt} />
        {#if icon.type !== 'none'}
      <figcaption
        class="caption opacity-0 pointer-events-none
              transition-[transform, opacity] duration-300 transform -translate-x-1/4
              touch:opacity-100  touch:pointer-events-auto touch:translate-x-0
              {icon.type !== 'video' ? 'bg-theme-highlight' :
              'bg-icon-dark text-icon-lighter text-center'}"
        style="left: {icon.left}%; top: {icon.top}%; width: {icon.width}%;">
        {icon.title}
      </figcaption>
      {/if}
    </figure>
  </svelte:component>
{/if}

<style lang="postcss">
  button:hover figcaption {@apply block}
  .top {@apply top-0}
  .middle {@apply top-1/2}
  .bottom {@apply top-full}
  .left {@apply right-full}
  .right {@apply left-full}
  .center {@apply left-1/2}
  .caption {@apply absolute p-[0.5em] rounded-[0.5em] text-[1em] leading-[1.1em];}
  figure:hover figcaption {@apply opacity-100 pointer-events-auto translate-x-0;}
</style>
