<script lang="ts">
  export let key: number
  export let position: {x:number, y:number, size:number}
</script>

<div
  class="absolute pointer-events-none z-10"
  style="left: {position.x}%; top: {position.y}%; width: {position.size}%">
    <slot />
</div>