<script lang="ts">
  export let key: number
  export let position: {x:number, y:number, size:number}
</script>

<button
  class="absolute cursor-default z-10"
  style="left: {position.x}%; top: {position.y}%; width: {position.size}%">
    <slot />
</button>