<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  export let key: number
  export let position: {x:number, y:number, size:number}
</script>

<a
  href="{base}/{$page.params.century}#{key}"
  class="absolute z-10"
  style="left: {position.x}%; top: {position.y}%; width: {position.size}%">
    <slot />
</a>