<script>
    import { base } from "$app/paths"
    import { page } from "$app/stores"
</script>
<header class="flex portrait:flex-col mr-10 portrait:mr-0 portrait:mb-10">
  <a
    href="{base}/XVII"
    class:active={$page.params.century === 'XVII'}>
    <span class="hidden md:inline-block">Século</span> XVII
  </a>
  <a
    href="{base}/XVIII"
    class:active={$page.params.century === 'XVIII'}>
    <span class="hidden md:inline-block">Século</span> XVIII
  </a>
  <a
    href="{base}/XIX"
    class:active={$page.params.century === 'XIX'}>
    <span class="hidden md:inline-block">Século</span> XIX
  </a>
  <a
    href="{base}/XX"
    class:active={$page.params.century === 'XX'}>
    <span class="hidden md:inline-block">Século</span> XX
  </a>
  <a
    href="{base}/about"
    class="flex items-center"
    class:active={$page.route.id === '/about'}>
    TERRA(S) RASGADA(S)
    <svg
      class="w-6 p-1 pb-0 pr-0 portrait:rotate-90"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24" fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </a>
</header>

<style lang="postcss">
  a {
    @apply flex-grow relative bg-theme-highlight h-full pl-3 pr-1 py-1 mr-4 z-0 uppercase;
    border-radius: 1rem 0 0 0;

    font-size: 0.9rem;
  }

  a::before {
    content: '';
    @apply absolute top-0 left-full aspect-square h-full bg-inherit -z-10;

    transform: skewX(45deg)translateX(-50%);
  }

  a:hover,
  .active {@apply bg-theme-selected z-10;}

  @media (orientation: portrait) {
    a {
      @apply mr-0 h-auto pl-1 w-8 mb-4;
      writing-mode: vertical-rl;
      border-radius: 0 1rem 0 0;
    }

    a::before {
      @apply top-full right-0 h-auto w-full;
      transform: skewY(-45deg)translateY(-50%);
    }
  }

  @media (min-height: 768px) and (orientation: portrait) {
    span {
      @apply inline-block;
    }
  }
</style>