<script lang="ts">
    import { cubicInOut } from 'svelte/easing';

    const slide = (node: HTMLElement, {
    out = false,
    delay = 0,
    duration = 1000
  }) => {
		return {
      delay,
			duration,
			css: (t: number) => {
        const eased = cubicInOut(t)
        return `transform: translateY(${ (out ? -1 : 1) * (eased * 100 - 100)}vh); z-index: ${out ? 20 : 50};`
      }
		}
	}
</script>

<div
  in:slide={{ }}
  out:slide={{ out: true, delay: 250 }}
  class="fixed top-0 left-0 z-20 w-full h-full"
  >
  <slot />
</div>