<script lang="ts">
  import data from "$data/data.json";
  import { page } from "$app/stores";
  import Controls from "$lib/controls.svelte";
  import VimeoPlayer from "$lib/vimeo.svelte";
  import Icons from "$lib/icons.svelte";
  import { base } from "$app/paths";
  import { libras } from "$store/store";
  import { fade } from "svelte/transition";
  import { goto } from "$app/navigation";

  let player: VimeoPlayer;
  let paused = true;
  let duration = 0;
  let currentTime = 0;

  const togglePause = () => {
    paused ? player.play() : player.pause();
  };

  const seekTo = (event: CustomEvent) => player.seekTo(event.detail * duration);

  const timeUpdate = (event: CustomEvent) =>
    (currentTime = event.detail.seconds);

  const getDuration = (e: CustomEvent) => (duration = e.detail);
</script>

<a
  href="{base}/{$page.params.century}"
  class="absolute z-10 top-4 right-4 w-8 p-2 rounded-lg shadow-md bg-theme-highlight hover:bg-theme-bg z-20"
>
  <Icons type="close" />
</a>
<VimeoPlayer
  bind:this={player}
  url={data[$page.params.century][$page.url.hash.split("#")[1] || 1][
    $libras ? "libras" : "src"
  ]}
  on:durationchange={getDuration}
  on:play={() => (paused = false)}
  on:pause={() => (paused = true)}
  on:timeupdate={timeUpdate}
  on:ended={() => goto(`${base}/${$page.params.century}`)}
  autoplay
/>
<button
  class="absolute h-full w-full top-0 left-0 z-10 flex items-center justify-center bg-black bg-opacity-0 transition"
  class:bg-opacity-60={paused}
  on:click={togglePause}
>
  {#if paused}
    <div transition:fade class="h-32 w-32 text-theme-selected">
      <Icons type="pause" filled />
    </div>
  {/if}
</button>
{duration}
<Controls
  {paused}
  {currentTime}
  {duration}
  on:togglePause={togglePause}
  on:seekTo={seekTo}
/>