<script lang="ts">
  import Player from "@vimeo/player";
  import { onMount, createEventDispatcher } from "svelte";
  import { cc } from "$store/store"

  const emit = createEventDispatcher();

  export let url: string;
  let correctUrl: string
  export let autoplay = false;
  export let loop = false;

  $: url, loadVideo();
  $: $cc, toggleSubtitles()

  let options = {
    url: url,
    autoplay: autoplay,
    loop: loop,
    muted: false,
    byline: false,
    controls: false,
    title: false,
    playsinline: true,
    responsive: false,
    keyboard: false,
    pip: false,
    portrait: false,
    texttrack: $cc ? 'pt-BR' : 'None'
  };

  let playerDiv: HTMLDivElement;
  let player: Player;
  let currentDuration = 0;

  const playerSetup = () => {
    player.on("loaded", () => emit("loaded"));
    player.on("durationchange", (response: { duration: number }) => {
      currentDuration = response.duration;
      emit("durationchange", currentDuration);
    });
    player.on("bufferstart", () => emit("bufferstart"));
    player.on("bufferend", () => emit("bufferend"));
    player.on("progress", (data: currentTime) => emit("progress", data));
    player.on("play", () => emit("play"));
    player.on("playing", () => emit("playing"));
    player.on("pause", () => emit("pause"));
    player.on("seeked", () => emit("seeked"));
    player.on("timeupdate", (data: currentTime) => emit("timeupdate", data));
    player.on("ended", () => emit("ended"));
    player.on("error", (e: Error) => {
      console.log("error", e);
    });
    if (loop) player.setLoop(true);
  };

  export const play = () => player.play();
  export const pause = () => player.pause();

  export const getDuration = () => currentDuration;

  export const togglePlay = () => {
    player.getPaused().then((paused: boolean) => {
      if (paused) play();
      else pause();
    });
  };

  export const seekTo = (time: number) => {
    const newTime =
      time < 0 ? 0 : time > currentDuration ? currentDuration : time;
    player.setCurrentTime(newTime);
  };
  export const getPlayer = () => player;

  export const loadVideo = () => {
    if (!player) return;
    const urlParts = url.split('/')
    let time = 0
    player.getCurrentTime().then(response => time = response)
    correctUrl = `https://player.vimeo.com/video/${urlParts[urlParts.length - 2]}?h=${urlParts[urlParts.length - 1]}`
    options.url = correctUrl;
    player.loadVideo(options).then( () => seekTo(time) );
    emit("durationchange", 0);
  };

  export const toggleSubtitles = () => {
    if(!player) return
    $cc ? player.enableTextTrack('pt-BR') : player.disableTextTrack();
  }

  onMount(() => {
    player = new Player(playerDiv, options);
    player.ready().then(() => {
      playerSetup();
      player.getDuration().then((duration: number) => {
        currentDuration = duration;
        emit("durationchange", currentDuration);
      });
    });

    return () => {
      player.unload();
    };
  });
</script>

<div id="player" class="w-full h-full" bind:this={playerDiv} />
