<script lang="ts">
    import { createEventDispatcher } from "svelte"
    import { cubicInOut } from "svelte/easing";
    import { tweened } from "svelte/motion";
    import Icons from "./icons.svelte";

    const emit = createEventDispatcher()

    const minZoom = 0.25
    const maxZoom = 1.75
    const step = 0.25
    const zoomLevel = tweened(1, {
      duration: 500,
      easing: cubicInOut,
    });

    $: $zoomLevel, emitNewZoom()

    function emitNewZoom() {
      emit('zoom', $zoomLevel)
    }

    function zoom(variation: number) {
      let newSize = $zoomLevel + variation
      if(newSize < minZoom) newSize = minZoom
      if(newSize > maxZoom) newSize = maxZoom
      $zoomLevel = newSize
    }
</script>

<div class="flex">
  <button
    on:click={() => zoom(step)}
    class:text-stone-400={$zoomLevel === maxZoom}
    disabled={$zoomLevel === maxZoom}
    >
    <Icons type="zoom-in" />
  </button>
  <button
    on:click={() => zoom(-step)}
    class:text-stone-400={$zoomLevel === minZoom}
    disabled={$zoomLevel === minZoom}
    >
    <Icons type="zoom-out" />
  </button>
</div>

<style lang="postcss">
  button {
    @apply flex flex-grow aspect-square items-center justify-center mb-2 p-2 bg-theme-highlight rounded-lg shadow-md w-8 h-8;
  }
  button:hover {
    @apply bg-theme-bg;
  }
</style>