<script lang="ts">
  import "../app.css";
  import data from "$data/data.json";
  import { base } from "$app/paths";
  import Menu from "$lib/menu.svelte";
  import FancyBox from "$lib/fancyBox.svelte";

  let mainDiv: HTMLElement;
</script>

<svelte:head>
  {#each Object.keys(data) as century}
    <link rel="preload" as="image" href="{base}/img/map/{century}.svg" />
    {#each data[century] as icon}
      <link rel="preload" as="image" href="{base}/img/icon/{icon.img}.svg" />
    {/each}
  {/each}
</svelte:head>

<div
  class="w-full h-full p-4 bg-theme-bg flex flex-col portrait:flex-row-reverse"
>
  <Menu />
  <main bind:this={mainDiv}>
    <div class="w-full h-full">
      <slot />
    </div>

    <img
      class="absolute bottom-3 right-3 w-16 flex flex-col pointer-events-none"
      src="{base}/img/map/rosa-dos-ventos.png"
      alt="Rosa dos Ventos"
    />
  </main>
  <FancyBox />
</div>

<style lang="postcss">
  main {
    border-radius: 0 1rem 1rem 1rem;

    @apply relative w-full h-full flex-grow bg-theme-selected shadow-md;
  }

  @media (orientation: portrait) {
    main {
      border-radius: 1rem 0 1rem 1rem;
    }
  }
</style>
