<script lang="ts">
  import { page } from "$app/stores";
  import Map from "$lib/map.svelte";
  import ZoomButtons from "$lib/zoomButtons.svelte";

  let zoom = 1;
</script>

<div class="absolute top-3 right-3 z-10">
  <ZoomButtons on:zoom={(e) => (zoom = e.detail)} />
</div>

{#if $page.params.century}
  <Map century={$page.params.century} {zoom} />
{/if}

<slot />