<script lang="ts">
  import { base } from "$app/paths";
import credits from "$data/credits.json"
</script>

<div class="relative w-full h-full flex flex-col items-center overflow-auto">
  <div class="absolute w-full max-w-lg top-0 p-6">
    <h2 class="font-bold mt-6 mb-4">
      SOBRE
    </h2>
    <p>Terra(s) Rasgada(s) é um projeto artístico sobre a história de Sorocaba, especialmente interessado em investigar as camadas narrativas esquecidas ou apagadas pela historiografia oficial local, que utiliza a forma do documentário interativo para propor diálogos plurais com o público e produzir novos sentidos a respeito do patrimônio material e imaterial da cidade.</p>
    <p>Na prática, quem experimenta o documentário pode navegar por quatro mapas que representam o desenvolvimento da região central de Sorocaba - que, em nosso perímetro, vai do Mosteiro de São Bento (construção mais antiga da cidade) mais a Oeste até o rio no limite a Leste - entre os séculos XVII e XX e clicar em seus ícones para assistir dezenove vídeos temáticos curtos.</p>
    <p>Ao mudar de um mapa/século, é fácil perceber que alguns agentes da história “somem” enquanto outros “aparecem”. Nossa expectativa é que essa movimentação provoque a curiosidade e leve as pessoas a se perguntarem por exemplo “Por que a população indígena deixa de ser representada a partir do século XVIII?” ou “Como esse canhão veio parar aqui?”, e por aí vai.</p>
    <p>Em Terra(s) Rasgada(s), sabemos que nenhuma pessoa fará a mesma rota que a outra. E é justo que assim seja! Pois, a História é uma construção coletiva e complexa, costurada por narrativas com pontos de partida diversos, com caminhos que ora disputam espaço e ora confluem. Assim também é a Arte, fragmentária e polifônica, que ao entrar em contato com o público, a depender das circunstâncias do encontro, pode realçar uma ideia ou deixá-la no esquecimento.</p>
    <p>Esperamos que gostem e voltem muitas vezes. A cada retorno, encontrarão uma nova rota, com novas camadas de espaço e tempo a serem exploradas e, então, novos diálogos e sentidos a partir da nossa História serão possíveis</p>
    <h2 class="font-bold mt-6 mb-4">
      EQUIPE
    </h2>
    <ol>
    {#each Object.keys(credits.equipe) as credit}
      <h3 class="font-bold mt-6 mb-4">
        {credit}
      </h3>
      {#each Object.keys(credits.equipe[credit]) as line}
      <li class="flex">
        <div class="flex-grow font-medium">{line}</div>
        <div class="flex-grow text-right">{credits.equipe[credit][line]}</div>
      </li>
      {/each}
    {/each}
    </ol>
    <h2 class="font-bold mt-6 mb-4">
      AGRADECIMENTOS
    </h2>
    <ol>
    {#each credits.agradecimentos as agradecimento}
      <li>
        {agradecimento}
      </li>
    {/each}
    </ol>
    <h2 class="font-bold mt-6 mb-4">
      PESQUISA
    </h2>
    <ol>
      <li>
        <a
          class="underline"
          href="{base}/about#bibliografia">
          Bibliografia sobre a questão urbana de Sorocaba
        </a>, por Gustavo de Campos.
      </li>
      <li>
        <a
          class="underline"
          href="{base}/about#convite">
          “Terras(s) Rasgada(s): um convite à aprendizagem criativa libertadora”
        </a>, por Fernando Freitas
      </li>
      <li class="mt-2">
        Causos do Centro: entrevistas de pesquisa:
      </li>
      <li>
        <ul class="ml-4 mt-2 list-disc">
          <li>
            <a
              target="_blank"
              rel="noreferrer"
              class="underline" href="https://vimeo.com/468814610/344928d04e">
              Carlos Cavalheiro
            </a> (historiador)
          </li>
          <li>
            <a
              target="_blank"
              rel="noreferrer"
              class="underline" href="https://vimeo.com/468815881/96057a14f5">
              Elizabeth Hess
            </a> (geógrafa)
          </li>
          <li>
            <a
              target="_blank"
              rel="noreferrer"
              class="underline" href="https://vimeo.com/791329690/af6fd9999d">
              Ademir Barros
            </a> (mestre em educação e escritor)
          </li>
        </ul>
      </li>
    </ol>
    <h2 class="font-bold mt-6 mb-4">
      REALIZAÇÃO
    </h2>
    <div class="flex justify-around">
      <a
        target="_blank"
        rel="noreferrer"
        class="block w-32"
        href="https://www.graofilmes.com.br">
        <img
          alt="Grão Filmes"
          src="/img/grao.svg" />
      </a>
    </div>
    <h2 class="font-bold mt-6 mb-4">
      APOIO
    </h2>
    <div class="flex justify-around flex-wrap">
      <img class="h-14 m-4" alt="Lei de incentivo à Cultura" src="/img/linc.png" />
      <img class="h-14 m-4" alt="Secretaria de Cultura: Prefeitura de Sorocaba" src="/img/seccult.png" />
    </div>
  </div>
</div>

<style lang="postcss">
  p {
    @apply mb-6;
  }
</style>