@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Red Hat Display";
  src: url("/font/RedHatDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}

html, body {
  font-family: "Red Hat Display";
  font-weight: 200;

  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;

  @apply text-icon-dark overflow-hidden;
}

iframe {
  @apply w-full h-full;
}